# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://gwegatclgakbjdpkjrve.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3ZWdhdGNsZ2FrYmpkcGtqcnZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMTk2NjUsImV4cCI6MjA3MTg5NTY2NX0.m9V9tMC4ouTWHXH3sraDf66vdSvVfAKJv4gojYvh1lc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3ZWdhdGNsZ2FrYmpkcGtqcnZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjMxOTY2NSwiZXhwIjoyMDcxODk1NjY1fQ.Tl_sJDjQJMZRkzbWhXc5jljRvCab18a4ttAxeBjxCUM

# Evolution API
EVOLUTION_API_URL=https://evolution.v2.waspy.pro
EVOLUTION_API_KEY=c266d32c741da97e8308221f65e1f015

# Webhook
WEBHOOK_SECRET=2bb80d537b1da3e38bd30361aa855686bde0eacd7162fef6a25fe97bf527a25b

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
